/* Centerslideshow.css */
.check {
    /* Example styles for the container */
    max-width: 1000px;  /* Adjust as needed */
    max-height: 2000px;
}
.image-gallery-slide img {
    border: 2px solid #ddd;  /* Example for original images */
    border-radius: 10px;     /* Rounded corners */
}
.image-gallery-thumbnail img {
    border: 2px solid #ccc;  /* Example for thumbnails */
    border-radius: 5px;      /* Rounded corners */
}
.image-gallery-thumbnail-wrapper {
    padding: 5px;            /* Spacing around thumbnails */
}
.slidecontainer{
    height: 100px;
    width: 900px;
    padding-bottom: 0px;
}
.slidecontainer h2{
    font-size: 60px;
    text-align: center;
}
.carsDetails h2{
    padding-right: 300px;
    
}
.carsDetails{
    position: absolute; /* Or relative, depending on your layout */
    bottom: -400px; /* Adjust this value to move the details down */
    left: 70%;  
}
.carsDetails h3{
    font-size: 30px;
}
.carsDetails h1{
    font-size: 40px;
    padding-right: 180px;
    padding-top: 10px;
}
.details h1{
    text-align: left;
}
.details h2{
    padding-right: 400px;
    text-align: left;
}
.millagedetails h2{
    font-size: 25px;
    text-align: left;
}
.millagedetails {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start;
}
