/* TermsAndConditionsModal.css */
.modalOverlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.modalContent1 {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    width: 1000px;
    height: 800px;
    max-width: 6000px;
    max-height: 800px;
    text-align: center;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    padding-bottom: 20px;
    
  }


  /*------------------------------------------------------------------------------------------*/
   .header01{
    display: flex;
    height: 100px;
    position: sticky; /* Make it sticky */
    top: 0; /* Stick to the top */
    z-index: 1;
   }

   .containerbox1{
    width: 1000px;
    background-color:#373984;
    padding-top: 25px;
}

.containerbox1 h4{
    font-size: 45px;
    color: white;
}

.containerbox2{
    width: 40px;
    background-color:#373984;
}

.containerbox2 button{
    font-size: 40px;  
    color: white;
    background-color: #373984;
    border: none;     
}
    
    

   
  /*------------------------------------------------------------------------------------------*/

  
 
  
 
  
.modalContent1 button {
    margin-top: 20px;
  }

.solidLine {
    border: none;
    border-top: 3px solid #000; /* Change color and thickness as needed */
    margin: 20px 0; /* Adjust spacing above and below the line */
  }
.body01 button{
    background-color: white; /* Change to your preferred color */
    color: black; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 1px 5px; /* Add some padding */
    cursor: pointer; /* Change cursor on hover */
    margin-left: auto; /* Push button to the right */
    /* Optional: Add margin to adjust vertical position */
    margin-top: 5px; /* Move button down */
    margin-bottom: 5px; /* Move button up */
    font-size: 40px;
    margin-left: 550px;  
}
.body01 h3{
      font-size:30px;
      padding-top: 30px;
      text-align: left;
    }
.body01 p{
      text-align: justify;
      justify-content: center;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  

.body02 button{
        background-color: white; /* Change to your preferred color */
        color: black; /* Text color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        padding: 1px 5px; /* Add some padding */
        cursor: pointer; /* Change cursor on hover */
        margin-left: auto; /* Push button to the right */
        /* Optional: Add margin to adjust vertical position */
        margin-top: 5px; /* Move button down */
        margin-bottom: 5px; /* Move button up */
        font-size: 40px;
        margin-left: 750px;  
    }
.body02 h3{
          font-size:30px;
          text-align: left;
          padding-left: 20px;
        }
.body02 p{
          text-align: justify;
          justify-content: center;
          padding-left: 20px;
          padding-right: 20px;
        }
.body02 button {
        background-color: white; /* Change to your preferred color */
        color: black; /* Text color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        padding: 1px 5px; /* Add some padding */
        cursor: pointer; /* Change cursor on hover */
        margin-left: auto; /* Push button to the right */
        /* Optional: Add margin to adjust vertical position */
        margin-top: 5px; /* Move button down */
        margin-bottom: 5px; /* Move button up */
        font-size: 40px;
        margin-left: 300px;  
    }
.body02 h3 {
          font-size:30px;
          text-align: left;
          padding-left: 20px;
        }
.body02 p {
          text-align: justify;
          justify-content: center;
          padding-left: 20px;
          padding-right: 20px;
        }
.body03 button {
    background-color: white; /* Change to your preferred color */
    color: black; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 1px 5px; /* Add some padding */
    cursor: pointer; /* Change cursor on hover */
    margin-left: auto; /* Push button to the right */
    /* Optional: Add margin to adjust vertical position */
    margin-top: 5px; /* Move button down */
    margin-bottom: 5px; /* Move button up */
    font-size: 40px;
    margin-left: 390px;  
}
.body03 h3 {
    font-size:30px;
    text-align: left;
    padding-left: 20px;
    }
.body03 p {
    text-align: justify;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    }


.body04 button {
    background-color: white; /* Change to your preferred color */
    color: black; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 1px 5px; /* Add some padding */
    cursor: pointer; /* Change cursor on hover */
    margin-left: auto; /* Push button to the right */
        /* Optional: Add margin to adjust vertical position */
    margin-top: 5px; /* Move button down */
    margin-bottom: 5px; /* Move button up */
    font-size: 40px;
    margin-left: 325px;  
    }
.body04 h3 {
    font-size:30px;
    text-align: left;
    padding-left: 20px;
        }
.body04 p {
    text-align: justify;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.body05 button {
    background-color: white; /* Change to your preferred color */
    color: black; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 1px 5px; /* Add some padding */
    cursor: pointer; /* Change cursor on hover */
    margin-left: auto; /* Push button to the right */
            /* Optional: Add margin to adjust vertical position */
    margin-top: 5px; /* Move button down */
    margin-bottom: 5px; /* Move button up */
    font-size: 40px;
    margin-left: 735px;  
}
.body05 h3 {
    font-size:30px;
    text-align: left;
    padding-left: 20px;
}
.body05 p {
    text-align: justify;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.body06 button {
    background-color: white; /* Change to your preferred color */
    color: black; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 1px 5px; /* Add some padding */
    cursor: pointer; /* Change cursor on hover */
    margin-left: auto; /* Push button to the right */
                /* Optional: Add margin to adjust vertical position */
    margin-top: 5px; /* Move button down */
    margin-bottom: 5px; /* Move button up */
    font-size: 40px;
    margin-left: 525px;  
}
.body06 h3 {
    font-size:30px;
    text-align: left;
    padding-left: 20px;
}
.body06 p {
    text-align: justify;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.body07 button {
    background-color: white; /* Change to your preferred color */
    color: black; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 1px 5px; /* Add some padding */
    cursor: pointer; /* Change cursor on hover */
    margin-left: auto; /* Push button to the right */
                /* Optional: Add margin to adjust vertical position */
    margin-top: 5px; /* Move button down */
    margin-bottom: 5px; /* Move button up */
    font-size: 40px;
    margin-left: 610px;  
}
.body07 h3 {
    font-size:30px;
    text-align: left;
    padding-left: 20px;
}
.body07 p {
    text-align: justify;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.modalContent1::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  .modalContent1::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  .modalContent1::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scroll thumb */
    border-radius: 10px; /* Round edges */
  }
  
  .modalContent1::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
  }



  

  
 
  