body {
    font-family: 'Poppins', sans-serif;
  }

.modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-content1 {
    /*background: linear-gradient(to right, #ffffff, #f0f0f0);*/
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 1200px;
    height: 350px;
    text-align: center;
    animation: slideIn 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    color: black;
  }
  
  .modal-header1 {
    border-bottom: 2px solid #007bff;
    margin-bottom: 15px;
  }
  
  .modal-body {
    margin: 15px 0;
  }

  .modal-body h3{
    text-align: left;
    font-size: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: center;
  }
  
  .modal-close {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .modal-close:hover {
    background: #0056b3;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  