.containerBox {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    justify-content: space-between; /* Distribute space evenly */
    width: 100%; /* Full width of the parent */
    max-width: 2200px; /* Optional: Limit maximum width */
    margin: auto; /* Center the container */
}

.containerBox2{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 2200px;
    margin: auto;
}

.containerBox3 h2{
    color: white;
    font-size: 25px;
    padding-left: 50px;
}

  .containerBox4 p {
    font-size: 20px; /* Adjust font size */
    padding-left: 90px;
    padding-right: 50px;
    margin-bottom: 40px;
    margin-top: -30px;
  }
  
.inputBox {
    flex: 1; /* Make each input box take equal space */
    margin-right: 50px; /* Space between input boxes */

}

.inputBox:last-child {
    margin-right: 0; /* Remove margin from the last input box */
}

.inputtext {
    margin-bottom: 5px; /* Space between label and select */
}

.inputBox input,
.inputBox select {
background-color:#373984;
color: white;
}

select option {
    background-color: white; 
    color: black; 
}

.inputBox input::placeholder{
    font-size: 25px;
    color: white;
}
/* Emiform.css */
  .containerBox4 input{
    width: 20px;
    height: 20px;
    margin-left: 50px;
    margin-top: 50px;
  }
  .buttonContainer {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 20px; /* Adds space above the button */
    padding-bottom: 50px;   
}
.buttonContainer .btn {
    font-size: 30px;
    width: 220px;
    height: 70px;
    }

    .terms-strong{
        color: white;
        border-bottom: 2px solid white;
    }