.mainNavBar {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 37px 200px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    padding-top: 125px;
    
}
.mainNavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around; 
}

.mainNavBar li {
    font-size: 20px;
    font-weight: bold; 
    color: black;
    cursor: pointer;
}

.mainNavBar li:hover {
    color: black; 
    transition: color 0.3s ease;
}
.mainNavBar a {
    text-decoration: none; 
    color: inherit;
}
.mainNavBar a:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);;
}

